.card-prescription{
  margin-top: 5%;
}

.prescription-header{
  background-color: var(--customDarkBlue);
  color:whitesmoke;
}

.prescription-tile{
  border-radius: 50%;
  width:60%;
}

.prescription-view-header{
  background-color: var(--customMagenta);
  color:whitesmoke;
}

.prescription-input{
  width:25%;
}

.view-prescription-footer{
  width:50%;
}

@media(max-width:1341px){
  .card-prescription{
    margin-top: 7%;
  }
}

@media(max-width:950px){
  .card-prescription{
    margin-top: 9%;
  }
}

@media(max-width:828px){
  .view-prescription-footer{
    width:100%;
  }
}

@media(max-width:731px){
  .card-prescription{
    margin-top: 11%;
  }
  .prescription-input{
    width: 50%;
  }
}

@media(max-width:586px){
  .card-prescription{
    margin-top: 14%;
  }
}

@media(max-width:464px){
  .card-prescription{
    margin-top: 17%;
  }
}

@media(max-width:404px){
  .card-prescription{
    margin-top: 21%;
  }
  .prescription-input{
    width:100%;
  }
}

@media(max-width:337px){
  .view-prescription-footer span{
    display: none;
  }
}

@media(max-width:313px){
  .card-prescription{
    margin-top: 26%;
  }
}