.add{
  background-color: var(--customDarkBlue);
  border:none;
  color:whitesmoke;
  border-radius: 50%;
}

.add:hover{
  background-color: var(--customMagenta) !important;
}

.sub{
  margin-left: 2px;
  background-color: #8B0000;
  border:none !important;
  color:whitesmoke;
  border-radius: 50%;
}

.medicine-details tr{
  border:none;
}

.medicine-details td{
  border:none;
}

.modal-details p{
  font-size: 16px;
}

.modal-fields{
  color:var(--customMagenta);
}

.price{
  color:#8B0000;
  font-size: 20px;
}

.modal-body-details{
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;;
}

.image-details{
  border-radius: 50%;
  margin-top: 25%;
}

.image-filename{
  color:whitesmoke;
  background-color: var(--customBlue);
  border-radius: 25px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: x-small;
}

.sub:disabled{
  opacity: 0.5;
}

.sub:hover{
  background-color: #FE0F22;
}

.add:disabled{
  opacity: 0.5;
}

.add:hover:disabled{
  background-color: var(--customDarkBlue);
}

.medicine-details-modal{
  max-height:500px !important;
  overflow-y: scroll;
}