.chat-tile {
  position: fixed;
  width: 25%;
  height: 100%;
  background: whitesmoke;
  border-left: 10px solid whitesmoke;
  color: #ccc;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 100ms;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chat-tile.active {
  width: 6%;
  background: whitesmoke;
}

.chat-button{
  margin-top: 5%;
  margin-left:0%;
  background-color: var(--customDarkBlue);
  color:whitesmoke;
  border:2px solid whitesmoke;
  padding:5px 10px 5px 10px;
  border-radius: 25%;
}

.chat-tile.active .chat-button{
  margin-top: 100%;
}

.chat-tile li {
  position: relative;
  width: 25%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 0px;
  margin-bottom: 15px;
}

.chat-tile li:hover,
.chat-tile li.hovered,
.chat-tile li.active {
  background-color: var(--white);
  color: var(--customDarkBlue);
  cursor: pointer;
}


.chat-tile li a .icon img {
  width: 40px;
  color: var(--white);
  margin-top: 7px;
}

.searchbar{
  margin-top:1% !important;
  margin-left:0%;
  width:25%;
  display: flex;
}

.searchbar.active{
  display:none !important;
}

@media(max-width:1283px){
  .chat-button{
    margin-top: 8%;
  }
}

@media(max-width:1124px){
  .chat-tile.active{
    width:7%;
  }
}

@media(max-width:953px){
  .chat-tile.active{
    width:9%;
  }
}

@media(max-width:839px){
  .chat-tile{
    width:100%;
    transition:1ms;
  }

  .chat-button{
    margin-top: 12%;
  }

  .chat-tile li{
    width:100%;
  }

  .chat-tile.active .chat-button{
    margin-top: 0%;
  }

  .searchbar{
    width:100%;
  }

  .chat-tile.active{
    margin-top: 12%;
  }
}

@media(max-width:769){
  .chat-tile.active{
    width:11%;
  }
}

@media(max-width:625px){
  .chat-tile.active{
    width:14%;
  }
}

@media(max-width:542px){
  .chat-button{
    margin-top: 18%;
  }
}

@media(max-width:367px){
  .chat-button{
    margin-top: 25%;
  }
}

@media(max-width:517px){
  .chat-tile.active{
    margin-top:15%;
    width:16%;
  }

  .chat-button{
    margin-top:22%;
  }
}

@media(max-width:419px){
  .chat-tile.active{
    width:19%;
    margin-top: 17%;
  }

  .chat-button{
    margin-top:22%;
  }
}

@media(max-width:365px){
  .chat-tile.active{
    width:21%;
    margin-top:25%;
  }

  .chat-tile{
    margin-top:22%;
  }
}