.delivery-history-container{
  width:95%;
  margin-top: 5%;;
}

.history-delivery{
  width: 100%;
  height: 100vh;
}

.delivery-request{
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-header-history{
  background-color: var(--customMagenta);
  color:whitesmoke;
}

@media(max-width:1290px){
  .delivery-history-container{
    margin-top: 7%;
  }
}

@media(max-width:838px){
  .delivery-history-container{
    margin-top: 10%;
  }
}

@media(max-width:838px){
  .delivery-history-container{
    margin-top: 14%;
  }
}

@media(max-width:402px){
  .delivery-history-container{
    margin-top: 80px;
  }
}